{% extends 'base.html' %}
{% block main-content %}
{% load static %}

    <div class="main-banner">
        <div class="left-side">
            <div>
                <h1>I'm Ramin Eslami</h1>
                <p>Hey guys ... I'm junior software engineer and enthusiast supporting programming.</p>
                <p class="p2">My expertise lies in <span>web development</span> and software servers.</p>
            </div>
            <div class="button-div">
                <a href="https://media.licdn.com/dms/document/media/D4E1FAQEfDbvhJydHLA/feedshare-document-pdf-analyzed/0/1695570345279?e=1698883200&v=beta&t=k3mBC51H_XOb0U2jrG8zOmGLdntT4taYb8NtDyUDa4Y" target="_blank">Download CV</a>
                <a href="https://github.com/ResoneAt" target="_blank" class="b2"><i class="fa fa-github" aria-hidden="true"></i> Github profile</a>
            </div>
        </div>
        <div class="right-side">
            <img src="{% static 'images/RaminEslami.png' %}" alt="RaminEslami">

            <!-- <span class="logoR">R</span>
            <span class="logoA">A</span>
            <span class="logoM">M</span>
            <span class="logoI">I</span>
            <span class="logoN">N</span> -->

            <!-- <span class="logoRf">ر</span>
            <span class="logoAf">ا</span>
            <span class="logoMf">م</span>
            <span class="logoIf">ی</span>
            <span class="logoNf">ن</span> -->

        </div>
    </div>

    <div class="portfolio-section">
        <div class="header">
            <h2>Projects</h2>
        </div>

        <div class="project project1">
            <div class="left-side">
                <img src="{% static 'images/Resonegram-banner.png' %}" alt="">
            </div>
            <div class="right-side">
                <h3>Resonegram</h3>
                <p>Resonegram is a social media project that
                    allows users to freely publish their posts,
                    leave comments, and like other people's
                    posts.
                    It also provides a chat system for users to
                    communicate with each other.</p>

                <div class="button-div">
                    <a href="https://github.com/ResoneAt/R-Social-media" class="see-repo" target="_blank">See Repository</a>
                    <a class="see-demo" target="_blank">See Demo</a><span>soon</span>
                </div>

            </div>
        </div>

        <div class="project project2">
            <div class="left-side">
                <h3>TeamTask</h3>
                <p>TeamTask is a platform for planning personal
                    and team tasks. This is my team project with
                    my teammates in the bootcamp course of
                    Daneshkar Academy.</p>

                <div class="button-div">
                    <a href="https://github.com/ResoneAt/TeamTask-RM" class="see-repo" target="_blank">See Repository</a>
                    <a class="see-demo" target="_blank">See Demo</a><span>soon</span>
                </div>

            </div>
            <div class="right-side">
                <img src="{% static 'images/teamtask-banner.png' %}" alt="">
            </div>
        </div>
    </div>

    <div class="blogs-display">

    </div>
{% endblock main-content %}
