<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Ramin Eslami personal website">
    <meta name="keywords" content="Ramin Eslami, Ramin, eslami, RaminEslami">
    <meta name="author" content="Ramin Eslami">
    <link rel="canonical" href="https://ramineslami.pythonanywhere.com/">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>Ramin Eslami</title>
</head>
<body>
    {% include 'navbar.html'  %}
    {% block main-content %}{% endblock main-content %}
    {% include 'footer.html' %}

    <script src="https://kit.fontawesome.com/24abe8aec2.js" crossorigin="anonymous"></script>
</body>
</html>